*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #191d7b;
}

.H1{
  color:#ffffff;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:"wdth" 100; 
  text-align:center;
  margin: 0 auto;
 
}

 .banner{
     text-align:center;
     margin: 0px auto;
    }    

.paragraph {
    color: #ffffff;
    text-align:center;
    padding: 0px 50px;
    margin-bottom: 50px;
}

.buttons {
    text-align:center;
    margin:30px 0;
}


















