*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #191d7b;
}

.intro{
   color:#ffffff;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings
 }

 body{
    background-color: #191d7b;
}

.H1 {
    color: #ffffff;
    text-align: center;
    padding: 15px 50px;

}

.paragraph {
    color: #ffffff;
    text-align: center;
    padding: 0px 50px;
    margin-bottom: 50px;
}
.card{
    position:relative;
    position: absolute;
    

}
