*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #191d7b;
}

.intro{
   color:#ffffff;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings
 
}
.paragraph{
   color:#ffffff;
  
}